html {
    font-family: georgia, verdana;
}

body {
    max-width: 65ch;
    line-height: 1.5em;
    font-size: 18px;
    margin: auto;
    color: #323232;
    background-color: #D3D3D3;
    margin-bottom: 5ch;
    margin-top: 3ch;

    position: relative;
}

.box {
    height: 101%;
    width: 80ch;
    right: -11%;
    margin: auto;
    border-radius: 1ch;
    position: absolute;
    background-color: white;
    z-index: -1;
    box-shadow: 0px 4px 7px 0px rgba(0,0,0,0.75);
}

h1 {
    font-size: 3em;
    margin-bottom: 0;
}

h2 {
    font-size: 1.5em;
    margin-bottom: 0;
}

h3 {
    font-size: 1.2em;
    margin-bottom: 0;
}

.content {
    margin-left: 5%;
}

p, blockquote, ul, ol {
    font-size: 1em;
    line-height: 1.5em;
}


hr.redline {
  border: 1px solid green;
}

img {
    width: 45ch;
}
